@model WeightTracker.Data.User

@{
    ViewBag.Title = $"Detale użytwkonika {Model.FirstName} {Model.LastName}";
}

<h2>@ViewBag.Title</h2>
<dl class="row">
    <dt class="col-md-6">Imię:</dt>
    <dd class="col-md-6">@Model.FirstName</dd>
    <dt class="col-md-6">Nazwisko:</dt>
    <dd class="col-md-6">@Model.LastName</dd>
</dl>
<div class="row">
    <a href="@Url.ActionLink("Edit", "Users", new {id = Model.UserId}) )"
       class="btn btn-outline-primary col-sm-6">✏️ Edytuj</a>
    <a href="@Url.ActionLink("Delete", "Users", new {id = Model.UserId}) )" 
       class="btn btn-outline-danger col-sm-6">❌ Usuń</a>
</div>